<div class="modal fade" id="deviceSetting" tabindex="-1" role="dialog" aria-labelledby="deviceSetting"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="modalForm" class="form-horizontal" method="POST">
                <fieldset>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            
                    <div class="modal-body">

                        <input name="newDeviceName" type="text" placeholder="Nowa nazwa urządzenia" class="form-control input-md">
                        <label for="temperatureDevice">Grupa urządzeń:</label>
                        <select id="deviceGroup" name="deviceGroup" class="form-control">
                            
                        </select>

                    </div>
                    <div class="modal-footer">
                        <button name="editDeviceButton" class="btn btn-success" type="button" onclick="">Edytuj urządzenie</button>
                        <button name="clearButton" class="btn btn-danger" type="reset">Wyczyść</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>