<section id="loginForm">
  <form class="form-horizontal" method="POST">
    <fieldset>
    
    <!-- Form Name -->
    <legend class="section-name">Logowanie</legend>

      <input name="userLogin" type="text" placeholder="Wprowadź login" class="form-control input-md" required="">
      <input name="userPassword" type="password" placeholder="Wprowadź hasło" class="form-control input-md">

      <button name="loginUser" name="loginButton" class="btn btn-success" type="button" onclick="login();">Zaloguj</button>
      <button name="rememberPwdButton" class="btn btn-danger" type="button" onclick="rememberPassword();">Przypomnij hasło</button>
    
    </fieldset>
    </form>
</section>
    