<section id="registerForm">
  <form class="form-horizontal" method="POST">
    <fieldset>

    <legend class="section-name">Rejestracja</legend>
    
      <input name="newFamilyName" type="text" placeholder="Nazwa rodziny" class="form-control input-md" required="">
      <input name="newUserLogin" type="text" placeholder="Login" class="form-control input-md">
      <input name="newUserEmail" type="email" placeholder="Email" class="form-control input-md">
      <input name="newUserPassword" type="password" placeholder="Hasło" class="form-control input-md">
      <input name="newUserPassword2" type="password" placeholder="Potwórz hasło" class="form-control input-md">
      
      <button name="registerButton" class="btn btn-success" type="button" onclick="registerAccount();">Nowe konto</button>
      <button name="clearButton" class="btn btn-danger" type="reset">Wyczyść</button>

    </fieldset>
    </form>
</section>
    